.Tile{
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    display: inline-block;
    max-width: 200px;
    width: 100%;
    color: #030303;
    font-size: 1.6em;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border-radius: 2px;
    font-weight: bold;
    margin: .2em;
    padding: .2em .4em;
    right: 0;
    top: 0;
    vertical-align: middle;
    max-height: 200px;
}

img{
    margin: 0;
    width: 100%;
    user-select: none;
}